<div id="post_feed_background">


  <div id="users_controller" ng-controller="usersController as UC" >
    <div id="logout_button">
    <button ng-click="UC.logout()" ng-confirm-click="Are you sure you want to logout?" type="button" name="logout_button" >Logout</button>
    </div>
      <h4>Welcome, {{UC.username}}!</h4>
  </div>



<h1>Hoos Fan HOOPlah!!!</h1>

  <div id="topic_section" ng-controller="dashboardController as DC">
  <form ng-submit="DC.create_post()">
    <input type="text" ng-model="DC.new_post.title" placeholder="New Post" >
    <input type="submit" name="submit" value="Post">
  </form>

    <h3>Post Feed</h3>
      <div id="post_block" ng-repeat="post in posts">
        <h5>
          <a href="/#!/dashboard/post/{{post._id}}" >
          {{post.title}}
          </a>
        </h5>
        <p>said: {{post._creator.username}}</p>
      </div>

  </div>



  <div id="top_comments">

  </div>


  <div id="trending_player">

  </div>


</div>
