<!-- This first div is the entire container for the page-->
<div id="rosterhome_body">
  <div id="roster_header">

  <h1>UVA Roster history</h1>

  </div>

<!-- Start of the current roster -->
  <div id="current_roster">
  <h3>2016 - 2017 (Current Season) </h3>
  <table id="tablepress-62" class="tablepress tablepress-id-62">
  <thead>
  <tr class="row-1 odd">
  	<th class="column-1">No.</th><th class="column-2">Name</th><th class="column-3">Height</th><th class="column-4">Weight</th><th class="column-5">Pos.</th><th class="column-6">Year</th><th class="column-7">Hometown</th>
  </tr>
  </thead>
  <tbody class="row-hover">
  <tr class="row-2 even">
  	<td class="column-1">0</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/devon_hall_849795.html" target="_blank">Devon Hall</a></td><td class="column-3">6'5"</td><td class="column-4">207</td><td class="column-5">G</td><td class="column-6">RS-Jr.</td><td class="column-7">Virginia Beach, VA/Cape Henry Collegiate</td>
  </tr>
  <tr class="row-3 odd">
  	<td class="column-1">2</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/justice_bartley_978004.html" target="_blank">Justice Bartley</a></td><td class="column-3">6'5"</td><td class="column-4">212</td><td class="column-5">G</td><td class="column-6">Soph.</td><td class="column-7">Lilburn, Ga./Montrose Christian School</td>
  </tr>
  <tr class="row-4 even">
  	<td class="column-1">4</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/marial_shayok_906584.html" target="_blank">Marial Shayok</a></td><td class="column-3">6'5"</td><td class="column-4">196</td><td class="column-5">G</td><td class="column-6">Jr.</td><td class="column-7">Ottawa, Ontario, Canada/Blair Academy</td>
  </tr>
  <tr class="row-5 odd">
  	<td class="column-1">5</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/kyle_guy_1014830.html" target="_blank">Kyle Guy</a></td><td class="column-3">6'3"</td><td class="column-4">165</td><td class="column-5">G</td><td class="column-6">Fr.</td><td class="column-7">Indianapolis, Ind./Lawrence Central</td>
  </tr>
  <tr class="row-6 even">
  	<td class="column-1">10</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/trevon_gross_jr_1024403.html" target="_blank">Trevon Gross Jr.</a></td><td class="column-3">6'3"</td><td class="column-4">206</td><td class="column-5">G</td><td class="column-6">Soph.</td><td class="column-7">Jackson, N.J./St. Benedict's Prep</td>
  </tr>
  <tr class="row-7 odd">
  	<td class="column-1">11</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/ty_jerome_1014801.html" target="_blank">Ty Jerome</a></td><td class="column-3">6'5"</td><td class="column-4">192</td><td class="column-5">G</td><td class="column-6">Fr.</td><td class="column-7">New Rochelle, N.Y./Iona Prep</td>
  </tr>
  <tr class="row-8 even">
  	<td class="column-1">12</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/deandre_hunter_1014802.html" target="_blank">De'Andre Hunter</a></td><td class="column-3">6'7"</td><td class="column-4">212</td><td class="column-5">G</td><td class="column-6">Fr.</td><td class="column-7">Philadelphia, Pa./Friends' Central School</td>
  </tr>
  <tr class="row-9 odd">
  	<td class="column-1">21</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/isaiah_wilkins_906563.html" target="_blank">Isaiah Wilkins</a></td><td class="column-3">6'7"</td><td class="column-4">225</td><td class="column-5">F</td><td class="column-6">Jr.</td><td class="column-7">Lilburn, Ga./Greater Atlanta Christian</td>
  </tr>
  <tr class="row-10 even">
  	<td class="column-1">24</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/jeff_jones_871937.html" target="_blank">Jeff Jones</a></td><td class="column-3">6'6"</td><td class="column-4">213</td><td class="column-5">F</td><td class="column-6">Sr.</td><td class="column-7">Charlottesville, Va./St. Anne's-Belfield</td>
  </tr>
  <tr class="row-11 odd">
  	<td class="column-1">25</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/mamadi_diakite_982334.html" target="_blank">Mamadi Diakite</a></td><td class="column-3">6'9"</td><td class="column-4">214</td><td class="column-5">F</td><td class="column-6">R-Fr.</td><td class="column-7">Conakry, Guinea, Africa/Blue Ridge School</td>
  </tr>
  <tr class="row-12 even">
  	<td class="column-1">30</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/jay_huff_1014803.html" target="_blank">Jay Huff</a></td><td class="column-3">6'11"</td><td class="column-4">215</td><td class="column-5">F</td><td class="column-6">Fr.</td><td class="column-7">Durham, N.C./Voyager Academy</td>
  </tr>
  <tr class="row-13 odd">
  	<td class="column-1">31</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/jarred_reuter_972177.html" target="_blank">Jarred Reuter</a></td><td class="column-3">6'7"</td><td class="column-4">243</td><td class="column-5">F</td><td class="column-6">Soph.</td><td class="column-7">Marion, Mass./Brewster Academy</td>
  </tr>
  <tr class="row-14 even">
  	<td class="column-1">32</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/london_perrantes_849797.html" target="_blank">London Perrantes</a></td><td class="column-3">6'2"</td><td class="column-4">197</td><td class="column-5">G</td><td class="column-6">Sr.</td><td class="column-7">Los Angeles, Calif./Crespi Carmelite</td>
  </tr>
  <tr class="row-15 odd">
  	<td class="column-1">33</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/jack_salt_906585.html" target="_blank">Jack Salt</a></td><td class="column-3">6'11"</td><td class="column-4">247</td><td class="column-5">C</td><td class="column-6">RS-Soph.</td><td class="column-7">Auckland, New Zealand/Westlake</td>
  </tr>
  <tr class="row-16 even">
  	<td class="column-1">51</td><td class="column-2"><a href="http://www.virginiasports.com/sports/m-baskbl/mtt/darius_thompson_906586.html" target="_blank">Darius Thompson</a></td><td class="column-3">6'4"</td><td class="column-4">196</td><td class="column-5">G</td><td class="column-6">RS-Jr.</td><td class="column-7">Murfreesboro, Tenn./Blackman/Tennessee</td>
  </tr>
  </tbody>
  </table>
  </div>
  <!-- list of past rosters  -->
  <div id="past_season_rosters_options">
  <h3>Previous UVA Men's College Basketball Rosters</h3>

    <p><a href="#">2015-2016</a></p>
    <p><a href="#">2014-2015</a></p>
    <p><a href="#">2013-2014</a></p>
    <p><a href="#">2012-2013</a></p>
    <p><a href="#">2011-2012</a></p>
    <p><a href="#">2010-2011</a></p>

  </div>

  <!--end of the current roster -->
</div>
